@font-face {
    font-family: roboto;
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: tt;
    src: url(../assets/fonts/TitanOne-Regular.ttf);
}

@font-face {
    font-family: ms;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

.app-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-title img {
    margin-right: 10px;
    width: 40px;
}

h1 a {
    font-family: ms;
    color: #ddd;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: roboto;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    outline: none;
}

input[type="submit"], button {
    cursor: pointer;
    background-color: #777;
    color: #fff;
    border: none;
}

input[type="submit"]:hover, button:hover {
    opacity: .9;
}

input[type="submit"]:active, button:active {
    opacity: .8;
}

.btn-submit {
    background-color: #777;;
    color: #fff;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 3px;
}