@font-face {
    font-family: roboto;
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: tt;
    src: url(../assets/fonts/TitanOne-Regular.ttf);
}

@font-face {
    font-family: ms;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

.app-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 a {
    font-family: ms;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: roboto;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    outline: none;
}

.btn-submit {
    background-color: indigo;
    color: #fff;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 3px;
}